.profile {
 

  height: 100vh;
  overflow: scroll;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 55px;

    .top-area {
      overflow: hidden;

      margin: 10px 0px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;

      border-bottom: 1px solid var(--border-color);


      .dp {
        flex: 1.5;

        .Avatar {
          display: flex;
          
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          img {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            // margin: auto;
          }
        }
      }
      .personal-info {
        flex: 3;
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0px 10px;
        color: white;

        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0px;

          #user-name {
            font-size: 18px;
            font-weight: 400;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
          }

          .buttons {
            display: flex;
            align-items: center;
            font-size: 20px;
            gap: 10px;

            .btn-edit {
              background-color: #212121;
              color: #fff;
              font-size: 20px;
            }
          }
        }

        .center {
          font-size: 15px;
          text-align: center;
          display: flex;
          justify-content: left;
          gap: 25px;

          .count {
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          }
        }

        .bottom {
          margin: 10px 0px;
          #name {
            font-size: 2px;
            font-weight: 400;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          }

          #bio {
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
              serif;
            max-width: 400px;
            max-height: 50px;
          }
        }
      }
    }

    .bottom-area {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 10px;

      width: 100%;

      .post-div {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        // justify-content: center;

        .each-post {
          width: 45%;

          .post {
            height: 560px;
            .content {
              height: 60%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .profile {
 
    overflow: auto;
    .container {
     
      .top-area {
        height: auto;
        padding-bottom: 50px;
        gap: 10px;
        position: relative;
        .dp {
          flex: 1;
          align-items:flex-start;
          .Avatar {
            img {
              height: 80px;
              width: 80px;
            }
          }
        }

        .personal-info {
          padding: 8px;
          height: fit-content;

          gap: 5px;
          .top {
            margin: 0px;
            #user-name {
              font-size: 15px;
            }
            .buttons {
              .btn-edit {
                font-size: 13px;
              }
              .btn-follow {
                font-size: 12px;
              }
            }
          }
          .center {
            font-size: 12px;
          }
          .bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            padding:10px;
            #name {
              font-size: 18px;
            }
            #bio {
              font-size: 18px;
            }
          }
        }
      }
      .bottom-area {
        margin-bottom: var(--bottomnav-ht);
        .post-div {
          flex-direction: column;
          gap: 0px;

          .each-post {
            border-bottom: none;
            width: 100%;
            .post {
              // height: 560px;
              .content {
                height: 60%;
              }
            }
          }
        }
      }
    }
  }
}
