.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: 1px solid rgba(132, 128, 128, 0.174);
  .name-dp {
    display: flex;
    align-items: center;
    gap: 10px;
    .Avatar {
      img {
        border-radius: 50px;
      }
    }
  }
  .data-block {
    gap: 5px;
    #name {
      font-family: var(--h1-font);
      font-size: 14px;
      color: white;
    }
    #username {
      font-family: var(--p-font);
      font-size: 12px;
      color: white;
    }
  }
}

@media (max-width: 480px) {
  .profile-card {
width: 100%;
    .name-dp {
      width: 100%;
      .Avatar {
        img {
          border-radius: 50px;
        }
      }
    }
    .data-block {
      gap: 5px;
      #name {
        font-family: var(--h1-font);
        font-size: 14px;
        color: white;
      }
      #username {
        font-family: var(--p-font);
        font-size: 12px;
        color: white;
      }
    }
  }
}
