#bottomNav {
  position: fixed;
  bottom: 0;
  height: var(--bottomnav-ht);
  background-color:black;
  border-top: 1px solid var(--border-color);
  width: 100%;
  z-index: 99;
  display: none;


  .content {
    height: 100%;
    justify-content: space-around;
    align-items: center;

    margin: 2px 0px;;
    a {
      color: var(--white-col);
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      border-bottom: 4px solid rgba(255, 255, 255, 0);
      transition: all 0.2s ease-in;
      padding: 0px 20px;
    }
    .active {
      border-bottom: 4px solid  #1a1a1a;
      border-radius: 10px;
    
      background-color: #1a1a1a;
    }

    svg {
      font-size: 28px;
    }
    #myProfile {
      .Avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #bottomNav {
    display: block;
  }
}
