#search-page {
  padding-top: var(--nav-ht);

  align-items: center;
  

  padding: 20px 10px;
  gap: 10px;
  width: 100%;
  .search {
    width: 30%;
    padding-top: 50px;
    input {
      font-size: var(--p-font-size);
      font-family: var(--p-font);
      padding: 0px 20px;
      
      width: 100%;

      border: 3px solid var(--light-col);

      height: 40px;

      border-radius: 30px;

      transition: all 0.2s ease-in;
      outline: none;
      &:focus {
        border: 3px solid #666565;
      }
    }
  }
}
@media (max-width: 768px) {
  #search-page {
    display: block;
    .search {
      padding-top: 0;
      text-align: center;
      
      input {
        margin: auto;
        width: 90%;
      }
    }
  }
}
